@import "tailwindcss";

@theme inline {
  --color-background: #0A0A0A;
  --color-foreground: #FFFFFF;
  --color-card: #111111;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-muted: #A1A1AA;
  --color-accent: #3B82F6;
  
  --radius-card: 24px;
  --radius-button: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/cursor-default.svg') 5 2, auto;
}

a, button, [role="button"], input, select, textarea {
  cursor: url('/cursor-pointer.svg') 12 3, pointer;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Anti-Screenshot Protection */
.hide-protected-images .protected-photo {
  filter: brightness(0) !important;
  background-color: black !important;
}

@keyframes shine {
  0% { background-position: 200% center; }
  100% { background-position: -200% center; }
}

.group:hover .shiny-text-hover {
  background: linear-gradient(120deg, rgba(255,255,255,0.4) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 60%);
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 2.5s linear infinite;
}
